[submodule "external/boost"]
	path = external/boost
	url = https://github.com/boostorg/boost.git
[submodule "external/thread-pool"]
	path = external/thread-pool
	url = https://github.com/DeveloperPaul123/thread-pool.git
